extends layout

block content
  h1= title
  p Welcome #{title}!
  p Based on your recent games, why not try watching these?

  h2 Movies
  p #{movies}

  h2 TV Shows
  p #{tv}

  h3 Would you like to save this as a list?
  button(onclick="move()") Yes, please!
script.
  function move() {
    window.location.href = '/recommendations/auth'
  }