doctype html
html
    head
        title Please Wait...
        link(rel='stylesheet', href='/stylesheets/wait.css')
        meta(http-equiv="refresh" content="17;url=http://localhost:3000/recommendations")
    body
        h1 Please wait while we process your request...
        img(src="/images/waiting.gif")